body {
    background: url('/static/madison-okay.png') no-repeat center center/cover;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Added to position the disclaimer absolutely relative to the body */
}

.card {
    background-color: transparent;
    padding: 1.5rem;
    border-radius: 0.5rem;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.logo {
    max-width: 150px;
    height: auto;
}

.form-title, .btn-primary {
    color: #ffffff; /* Ensure slingshot text matches logo color (assumed white) */
    font-size: 2rem;
    text-align: center;
}

.form-small {
    color: #ffffff; /* Ensure slingshot text matches logo color (assumed white) */
    font-size: 1rem;
    text-align: center;
    text-shadow: 0 0 2px #FF0000, 0 0 5px #0000FF; /* Enhancing visibility */
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.text-danger, .small-text {
    color: #ffffff; /* Ensuring small text and error messages are visible */
    font-family: monospace;
    font-size: 0.9rem;
    text-align: center;
}

.form-title {
    text-shadow: 0 0 2px #FF0000, 0 0 5px #0000FF; /* Enhancing visibility */
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-group, .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-control, .btn-primary {
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    font-size: 1.2rem;
    display: block;
    width: 60%;
    margin: 0.5rem auto;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.form-control {
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.btn-primary {
    background-color: #0f754492;
    border-color: #0f754492;
    color: #ffffff; /* Set the text color of the button to white */
}

.btn-primary:hover {
    background-color: #0e6b3e92;
    border-color: #0e6b3e92;
}

.form-control:focus, .btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.small-text {
    position: absolute;
    bottom: 10px; 
    width: 60%;
    text-align: center; 
    font-size: 0.5rem;
}

.form-input {
    width: 210px;
}

.form-select {
    width: 240px;
}

.tshirt-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.tshirt-box {
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.tshirt-box:hover {
    transform: scale(1.05);
}

.tshirt-image {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 767px) {
    .form-control, .btn-primary, .small-text {
        width: 100%;
    }

    .logo {
        max-width: 120px;
    }
}

@media (min-width: 767px) {
    .card {
        width: auto;
    }
}