<!DOCTYPE html>
<html>
<head>
    <title>slingshot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="card">
        <div class="card-body">
            <h2 class="form-title" id="form-title">
                slingshot
            </h2>
            <div class="form-container" id="form-container">
                <form method="POST" id="form" novalidate>
                    <input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="phone number">
                    <button type="submit" class="btn btn-primary">submit</button>
                </form>
                <p class="text-danger" id="validation-message" style="display: none;">enter a 10-digit phone number.</p>
            </div>
            <h4 class="form-title" id="success-title" style="display: none;">
                see you soon.
            </h4>
            <div class="mt-3 text-center" id="response-message"></div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>